<h1>Schools Attended</h1>

<!-- List Schools Attended -->
<ul>
	<% @schools.each do |school| %>
		<li><a href="/schools/<%=school.id %>"><%= school.name_of_school %></a> | 
			<%= school.location_of_school %> | 
			<%= school.number_of_years %><br>
			<button><a href="/schools/<%= school.id %>/edit">update</a></button> 
			<form action="/schools/<%= school.id %>" method="post">
				<input type="hidden" name="_method" value="delete" />
				<input type="submit" value="Delete"/>
			</form>
		</li>
	<% end %>
</ul>

<!-- Link to Add a New School -->
<a href="/schools/new">Add a New School</a><br>
<br>

<!-- Link to Homepage -->
<a href="../">Return to Homepage</a>