<h1>Memorable Life Events</h1>

<!-- List Life Events -->
<ul>
	<% @events.each do |event| %>
		<li><a href="life_events/<%=event.id %>"><%= event.life_event %></a> | 
			<%= event.event_location %> | 
			<%= event.event_date.strftime("%B %d, %Y") %><br>
			<button><a href="life_events/<%= event.id %>/edit">update</a></button>
			<form action="life_events/<%= event.id %>" method="post" />
				<input type="hidden" name="_method" value="delete" />
				<input type="submit" value="Delete" />
			</form>
		</li>
	<% end %>
</ul>

<!-- Link to Add a Life Event -->
<a href="/life_events/new">Add a New Life Event</a><br>
<br>

<!-- Link to Homepage -->
<a href="../">Return to Homepage</a>